In [6]:
#libraries
import numpy as np
import pandas as pd
from datetime import datetime

In [7]:
df = pd.read_csv('/Users/ethanmeersman/Capstone/btc_historical.csv')


## Drop's the N/A's to clean the data
df = df.dropna()
## Resets index so the data columns reset after dropping the N/A's
df.reset_index(inplace=True, drop=True)
## Changes Timestamp variable to read it in normal time and not UNIX timestamps.
df['Timestamp'] = pd.to_datetime(df['Timestamp'], unit='s')
## Drop the 2011 records
df.drop([0,1,2,3], inplace=True)
df.reset_index(inplace=True, drop=True)
## Top 5 records of cleaned data
df.head(5)

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,2012-01-01 04:16:00,4.58,4.58,4.58,4.58,1.502000,6.87916,4.58
1,2012-01-01 15:28:00,4.84,4.84,4.84,4.84,10.000000,48.40000,4.84
2,2012-01-01 22:45:00,5.00,5.00,5.00,5.00,10.100000,50.50000,5.00
3,2012-01-02 20:04:00,5.00,5.00,5.00,5.00,19.048000,95.24000,5.00
4,2012-01-03 11:45:00,5.32,5.32,5.32,5.32,2.419173,12.87000,5.32

In [8]:
#Daily
df.index = df.Timestamp
df = df.resample('D').mean()

#Monthly
df_month = df.resample('M').mean()

#Yearly
df_year = df.resample('A-DEC').mean()

#Quarterly
df_Q = df.resample('Q-DEC').mean()

In [9]:
len(df)

3378

In [10]:
df.to_csv('cleaned_btc.csv')